.container {
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-item, .productWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.cart-item-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.item-name {
    flex: 2;
    font-weight: bold;
}

.item-quantity,
.item-price,
.item-total {
    flex: 1;
    text-align: right;
}

.total-price {
    text-align: right;
    margin-top: 20px;
}

.delete-item {
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

#payment-details {
    margin-top: 40px;
}

#payment-details .form-label {
    font-weight: bold;
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    display: none;
    color: red;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}
